<form>

<img src="assets/logotipo_oasis.png">
<h1>Registro de Intervenções</h1>

<input type="number" placeholder="Nº de Quarto" class="form-control" name="numero_quarto" [(ngModel)]="avaria.numero_quarto">
<input type="text" placeholder="Hotel" class="form-control" name="hotel" [(ngModel)]="avaria.hotel">
<input type="text" placeholder="Equipamento" class="form-control" name="equipamento" [(ngModel)]="avaria.equipamento">
<input type="text" placeholder="Por quem" class="form-control" name="por_quem" [(ngModel)]="avaria.por_quem">
<input type="text" placeholder="Descrição da avaria" class="form-control" name="descricao" [(ngModel)]="avaria.descricao">

<input type="button" value="Cadastrar" *ngIf="btnCadastro" class="btn btn-primary" (click)="cadastrar()">
<input type="button" value="Alterar" *ngIf="!btnCadastro" class="btn btn-warning">
<input type="button" value="Remover" *ngIf="!btnCadastro" class="btn btn-danger">
<input type="button" value="Cancelar" *ngIf="!btnCadastro" class="btn btn-secondary">
</form>

<!--<h1>{{avaria | json}}</h1-->

<table class="table">
    <thead>
        <tr>
            <th>Nº de Quarto</th>
            <th>Hotel</th>
            <th>Equipamento</th>
            <th>Por quem</th>
            <th>Descrição de Avaria</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of avarias">
            <td>{{a.numero_quarto}}</td>
            <td>{{a.hotel}}</td>
            <td>{{a.equipamento}}</td>
            <td>{{a.por_quem}}</td>
            <td>{{a.descricao}}</td>
            <td><button class="btn btn-success">Selecionar</button></td>
        </tr>
    </tbody>

</table>